body{
    background-color: #d9d9d9;
}

#banner{
    margin: 0 auto;
    width: 50%;
    margin-top: 50px;
    border-radius: 0px 25px 25px 0px;
    
}

.tituloSobreNos{
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    margin: 3em 0 0 20%;
    text-align: center;
}

.textoSobreNos{
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    height: 300px;
}



