.menu{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #392613;
    height: 70px;
    width: 100%;
    color: white;
    
    

}

#navTitle{
	display: inline-block;
    position: absolute;
    font-size: 70px;
    right: 50%;
    font-family: 'Allison', cursive;

}
#navTitle:hover{
    animation-name: hover;
    animation-duration: 4s;
    transition: background 1s;
}
@keyframes hover {
    from{color: #8A4623}
    to{color:white;}
}

nav{
    position: absolute;
    top: 24px;
    padding-bottom: 50px;
}

nav li{
    display: inline;
    margin: 15px;
    font-size: 22px;
}

nav a{
    
    text-decoration:none;
    text-transform: uppercase;
    color: white;

}

nav li:hover{
    color:  #000000;
    font-weight: bold;
    font-size: 25px;
    transition: 0.3s;

}